// button 'learn more' function sass
@mixin button(){
    padding: 5px 20px;
    background-color: $color-button;
    color: white;
    border:none;
    border-radius: 20px;
    margin: 20px 10px 50px 10px;
}
// end function.

//title function sass
@mixin title(){
    padding: 50px 20px;
}
//end function

//set align-center navbar
@mixin center-navbar(){
    float: none;
    margin: auto;
    display: table;
}
//end function

//set var color.
$color-button: #54D154; 

*{
    padding: 0;
    margin: 0;
    }
.title{
    @include title();
}
.header{
    background-image: url(../images/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    .nav{
        .navbar-left{
            a:hover{
                background-color: transparent;
            }
        }
        .navbar-brand{
            margin-left: 150px;
        }
        .navbar-right{
            input{
                opacity: .6;
                border-radius: 40px;
            }
        }
    }
    .head{
        h1{
            font-size: 60px;
            font-weight: bolder;
            margin-top:200px;
            color: white;
        }
        button{
            @include button();
            display: block;
            margin: auto;
            margin-bottom:200px;
            margin-top: 50px;
        }
    }
}

.section_1{
    .intro{
        ul>li{
            img{
                margin: 50px 10px;
            }
            h1{
                padding: 20px 20px; 
            }
            button{
                @include button();
            }
        }
    }
}

.section2{
    background-color: $color-button;
    text-align: center;
    .btn-choice{
        border: 1px solid $color-button;
        margin-bottom: 50px;
        .btn-secondary{
            border: 1px solid $color-button;
            border-radius: 20px;
        }
    }
    .active{
        background-color: $color-button;
    }
    .gallery{
        .navbar-nav{
            @include center-navbar();
            li{
                margin: 10px 10px;
            }
        }
    }
    button{
        @include button();
        border: 1px solid green;
    }
}
.section3{
    .test{
        padding: 10px 200px;
        .navbar-nav{
            @include center-navbar();
            padding: 50px 50px;
        }
    }
    .client{
        .navbar-nav{
            @include center-navbar();
            li{
                margin: 20px 50px;
                
                img{
                    margin: 0 auto;
                    display: table;
                }
            }
        }
    }
}
.section4{
    background-color: $color-button;
    .person{
        .navbar-nav{
            @include center-navbar();
            li{
                margin: 0px 40px;
                height: 120px;
                width: 120px;
                color: white;
                img{
                background-color: white;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                }
            }
            span{
                border: 1px solid black;
                font-size: 80px;
            }
        }
    }
    .join{
        background-color: green;
        padding: 25px 0px;
        button{
            @include button();
            margin: auto;
            display: block;
        }
    }
}
.section5{
    background-color: gray;
    color: white;
    padding: 20px 0;
    span{
        border-bottom: 1px solid black;
    }
    .about{
        padding: 0 50px;
    }
    .about_2{
        .nav{
            li[class = img_li]{
                width: 50px;
                height: 50px;
                margin: 0 5px 10px 5px;
                &>img{
                    width: 100%;
                    height: 100%;
                }
            }
            li{
                margin: 0 5px 10px 0;
                p{
                    padding: 3px 5px;
                    margin: 1px 0;
                    letter-spacing: 2px;
                }
                button{
                    border:none;
                    font-size: 12px;
                    padding: 2px 3px;
                    border-radius: 5px;
                }
                &:nth-child(1)>button{
                    background-color: green;
                }
                &:nth-child(2)>button{
                    background-color: yellow;
                }
                &:nth-child(3)>button{
                    background-color: blue;
                }
                &:nth-child(4)>button{
                    background-color: orangered;
                }
                &:nth-child(5)>button{
                    background-color: yellow;
                }
            }
        }
    }
    .about_3{
        p{
            margin: -3px 0px;
        }
        input[type=text],input[type=submit],input[type=email],textarea{
            width: 90%;
            border-radius: 5px;
            margin-top: 10px;
        }
        input[type=submit]{
            background-color: $color-button;
            border: none;
        }
    }
}
