* {
  padding: 0;
  margin: 0; }

body {
  width: 100%; }
  body .container_fuild {
    width: 100%;
    position: relative; }
    body .container_fuild .menu {
      width: 20%;
      height: 100%;
      background-color: black;
      position: fixed; }
    body .container_fuild .content {
      width: 80%;
      height: 100px;
      position: absolute;
      right: 0;
      top: 0; }
